
body {
    font-family: 'Lato', serif;
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 975px;
    box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    border: 2px solid #dedbdb;
    background-color: #ffffff;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.bigText {
    color: #6d46b0;
    font-size: 2.375em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    line-height: normal;
    margin-top: 69px;
    text-align: center;
}

.smallText {
    color: #6d46b0;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    line-height: normal;
    margin-top: 36px;
    text-align: center;
}

.nameInput {
    width: 825px;
    height: 76px;
    box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    border: 3px solid #dedbdb;
    background-color: #ffffff;
    margin-top: 98px;
    margin-right: 75px;
    margin-left: 75px;

    color: #454545;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 68px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 57px;
}

.emailInput {
    width: 825px;
    height: 76px;
    box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    border: 3px solid #dedbdb;
    background-color: #ffffff;
    margin-top: 51px;
    margin-right: 75px;
    margin-left: 75px;

    color: #454545;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 68px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 57px;
}

.countryInput {
    width: 825px;
    height: 76px;
    box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    border: 3px solid #dedbdb;
    background-color: #ffffff;

    margin: 51px 75px auto;

    color: #454545;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 68px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 57px;
    padding-right: 57px;

    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;

    content: '▼';
}

.sendButton {
    width: 300px;
    height: 77px;
    border-radius: 10px;
    border-color: #6d46b0;
    background-color: #6d46b0;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 74px;
    text-align: center;
    margin: 134px 51px 46px 624px;
}

::placeholder {
    color: #454545;
    opacity: 1;
}
